In [ ]:
%LOAD mysql db=dbname user=user1 password='Password123#@!'

In [ ]:
show databases;

In [ ]:
SELECT * FROM tidb

In [ ]:
INSERT INTO example VALUES (2, 'Core')

In [ ]:
SELECT * FROM example

In [ ]:
INSERT INTO example VALUES (3, 'Table')