In [ ]:
%LOAD sqlite3 db=chinook.db timeout=2 shared_cache=true

In [ ]:
%XVEGA_PLOT X_FIELD EmployeeId Y_FIELD ReportsTo BIN TRUE MARK square WIDTH 100 HEIGHT 200 <> SELECT EmployeeId, ReportsTo FROM employees

In [ ]:
%XVEGA_PLOT X_FIELD EmployeeId Y_FIELD ReportsTo BIN MAXBINS 3 MARK bar COLOR red WIDTH 200 HEIGHT 200 <> SELECT EmployeeId, ReportsTo FROM employees

In [ ]:
%XVEGA_PLOT X_FIELD EmployeeId Y_FIELD ReportsTo TYPE ordinal MARK bar COLOR green WIDTH 200 HEIGHT 200 <> SELECT EmployeeId, ReportsTo FROM employees

In [ ]:
%XVEGA_PLOT X_FIELD Name TYPE nominal Y_FIELD ArtistId BIN MAXBINS 1 MARK line COLOR purple WIDTH 200 HEIGHT 200 <> SELECT Name, ArtistId FROM artists LIMIT 10

In [ ]:
%XVEGA_PLOT X_FIELD EmployeeId GRID false Y_FIELD ReportsTo MARK area COLOR pink WIDTH 200 HEIGHT 200 <> SELECT EmployeeId, ReportsTo FROM employees

`%VEGA_LITE` follow by a json specs, with a new line followed by a SQL commands

In [ ]:
%VEGA_LITE rect_category_heatmap.vl.json
select i.BillingCountry as Country, g.name as Genre, count(1) as c
from invoices i 
    inner join invoice_items il on i.InvoiceId=il.InvoiceId 
    inner join tracks t on t.TrackId=il.TrackId 
    inner join genres g on g.GenreId=t.GenreId
group by 1,2

Create a new spec on the fly by `VEGA_LITE SET spec_name` then followed by the json spec

In [ ]:
%VEGA_LITE SET colored_scatterplot.vl.json
{
  "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
  "data": {"url": "data/movies.json"},
  "mark": "circle",
  "width": 400,
  "height": 300,
  "encoding": {
    "x": {
      "field": "trackNo", "sort": "ascending", "type": "quantitative"
    },
    "y": {
      "field": "sales", "type": "quantitative"
    },
    "color": {"field": "name", "type": "nominal", "sort": {"field": "-x", "order": "descending"}},
    "size": {"field": "sales", "type": "quantitative"}
  }
}

When plot we will first try if the spec is defined before, then check the file

In [ ]:
%VEGA_LITE colored_scatterplot.vl.json
select g.name name, sum(i.total) sales, count(distinct t.trackId) trackNo 
from tracks t 
    inner join genres g on g.genreId=t.genreId 
    inner join invoice_items il on il.trackId=t.trackId
    inner join invoices i on i.invoiceId=il.invoiceLineId
group by g.name
order by sales desc limit 10;